@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
     --bcg-clr: #fff;
     --bcg-element-clr: #f3f3f2;
     --txt-clr: #8b8b8b;
     --txt-clr2: #1d1c1c;
     --hover-clr: #1d1c1c;
     --hover-clr2: #2e2e2e;
}
google-fonts{
     font-family: "Noto Sans", serif;
     font-optical-sizing: auto;
     font-weight: 600;
     font-style: normal;
     font: variation settings 100px;
}
*{
     margin: 0;
     padding: 0;
     scroll-behavior: smooth;
     box-sizing: border-box;
} 